<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://momentjs.com/downloads/moment.min.js"></script>
  <script src="https://unpkg.com/ant-design-vue@1.6.4/dist/antd.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/ant-design-vue@1.6.4/dist/antd.css">
  <title>豆瓣电影影评</title>
  <script type='text/javascript'>
    var results = {{ results| safe }};
    console.log(results)

    function getQueryVariable(variable) {
      var query = window.location.search.substring(1);
      var vars = query.split("&");
      for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split("=");
        if (pair[0] == variable) { return decodeURI(pair[1]); }
      }
      return (false);
    }

    let key = getQueryVariable('key')
    console.log(key);
  </script>
</head>

<body>
  <div id="app-search" style="margin: 20px 20px">
    <template>
      <div>
        <a-input-search placeholder="输入内容关键词查询" v-model="search" enter-button @search="onSearch" />
        <br /><br />

      </div>
    </template>
  </div>

  <div id="app" style="margin: 20px 20px">
    <template>
      <div>
        <a-table :columns="columns" :data-source="results" bordered>

        </a-table>
      </div>
    </template>
  </div>
  <script>
    const columns = [
      {
        title: 'Content',
        dataIndex: 'content',
        scopedSlots: { customRender: 'content' },
      },
      {
        title: 'Star',
        dataIndex: 'star',
      },
      {
        title: 'Date',
        dataIndex: 'date_added',
      },
    ];
    new Vue({
      el: '#app-search',
      data: {
        search: ''
      },
      methods: {
        onSearch(value) {
          console.log(value);
          if (!value) {
            return
          }
          window.location.href = '?key=' + value
        }
      },
      created() {
        this.search = key
      }
    })

    new Vue({
      el: '#app',
      data: {
        search: '',
        results: results,
        columns: columns
      }
    })
  </script>
</body>

</html>